<div>
    <p>{{ data }}</p>
    <div class="highlight">
        <h4>Getting Started</h4>
        <p>
            Register your app by going to <cite>Settings > Developer > Register app</cite>
            with <cite>OAuth callback URL</cite> as <cite>http://yourdomain.com/getToken/callback</cite>. Get the client id and secret, and
            update <cite>/src/config.js</cite> with your nation credentials. <cite>nation_slug, client_id, client_secret and redirect_uri</cite>
            are required to generate the access token.
        </p>
        <p>Access token and site slug are required to get data from NationBuilder.</p>
    </div>
</div>