<div class="row">
    <div class="col-sm-12">
        <div>
            {{#if error}}
            {{#each error}}
            <div class="alert alert-danger">{{this}}</div>
            {{/each}}
            {{/if}}
        </div>
        <div>
            {{#if message}}
            <div class="alert alert-success">{{message}}</div>
            {{/if}}
        </div>
        {{#if data.id}}
        <h4>Update Person</h4>
        {{else}}
        <h4>Create Person</h4>
        {{/if}}
        <hr />
        <form method="POST" action="{{#if data.id}}/person/{{data.id}}{{else}}/person/create{{/if}}">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name" class="form-control" id="first_name" placeholder="Fitst Name"
                        value="{{data.first_name}}">
                </div>
                <div class="form-group col-md-6">
                    <label for="first_name">Last Name</label>
                    <input type="text" name="last_name" class="form-control" id="last_name" placeholder="Last Name"
                        value="{{data.last_name}}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-12">
                    <label for="email">Email</label>
                    <input type="text" name="email" class="form-control" id="email" placeholder="Email" value="{{data.email}}">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="/people" class="btn btn-primary">Back</a>
        </form>
    </div>
</div>